nav{
    ul{
        li{
            list-style: none;
            display: inline-block;
            margin: 10px 20px;
            animation-name: btnAlpha;
            animation-duration: 0.6;
            a{
                text-align: center;
            }
        }
    }
}


