.container{
    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        padding: 30px 30px;
        animation-name: textAlpha;
        animation-duration: 4s;
        .cardContainer{
            width: 300px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: -1px 13px 34px 0px rgba(0,0,0,0.15);
            transition: 0.4s ease-in-out;
            &:hover{
                transform: scale(1.05);
            }
            .imageContainer2{
                width: $w-100;
                height: 200px;
                background-image: url(img/noruegaBg.jpg);
                background-size: cover;
            }
            .location{
                width: $w-100;
                height: 80px;
                display: flex;
                justify-content: space-between;
                padding: 12px; 
                align-items: center;
                .icon{
                    width: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .iconPlane{
                        width: 30px;
                    
                    }
                
                }
                .destino{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            .cta{
                width: $w-100;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px;
                border-top: 1px solid $white;
                .btn-1{
                    width: $w-100;
                    padding: 14px;
                    border-radius: 10px;
                    border: none;
                    background-color: $mainColor;
                    color: $white;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $secondaryColor;
                    }
                }
            }
            .imageContainer{
                width: $w-100;
                height: 200px;
                background-image: url(img/islandia.jpg);
                background-size: cover;
            }
        }
        .priceContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            border-top: 1px solid $white;
            .price{
                display: flex;
                flex-direction: column;
                align-items: center;
                .price p{
                    font-size: 26px;
                    font-weight: 800;
                    color: $mainColor;
                
                }
                .price span{
                    font-size: 12px;
                    color: gray;
                }
            }

        }
    }
}