@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
.btn-1, .boton, .btn-square {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: #6F9ABF;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-1:hover, .boton:hover, .btn-square:hover {
  background-color: #5b7a96;
}

.btn-square {
  border-radius: none;
}

.ejemploDflex {
  display: flex;
  justify-content: center;
  align-items: flex-ends;
}

.boton {
  border-radius: none;
}
.boton:hover {
  background-color: #5b7a96;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main h1 {
  text-align: center;
  padding: 25px 0;
  width: 100%;
}

.img-header {
  padding-top: 10px;
  width: 100%;
  height: auto;
  animation-name: textAlpha;
  animation-duration: 4s;
}

.heightImage {
  max-height: calc(100vh - 84px);
}

.option-box {
  width: auto;
  text-align: center;
}

.googleMap {
  padding-top: 15px;
  margin: 10px 10px;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nuestroObjetivo {
  text-align: center;
  font-size: 20px;
  margin: 20px 20px;
}

.mainText {
  padding-top: 30px;
  font-size: 23px;
}

.logo {
  cursor: pointer;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  animation-name: btnAlpha;
  animation-duration: 0.6s;
}
nav ul li a {
  text-align: center;
}

header img {
  height: 800px;
  width: 100%;
}

.containerNosotros h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.containerNosotros .mainSection .aboutUs {
  padding: 20px !important;
}
.containerNosotros .mainSection .aboutUs .lead a {
  text-decoration: none;
}

.formleft__caja {
  width: 60%;
  padding: 12px 40px;
}

.form-control {
  margin-bottom: 10px;
}

.cardContainer {
  width: 300px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -1px 13px 34px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease-in-out;
}
.cardContainer:hover {
  transform: scale(1.05);
}

.imageContainer {
  width: 100%;
  height: 200px;
  background-image: url(../img/islandia.jpg);
  background-size: cover;
}

.location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.cta {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-top: 1px solid rgb(233, 233, 233);
}

.ustedes h1 {
  text-align: center;
  padding: 25px 0;
  width: 100%;
  font-weight: 300;
}

.btn-1, .btn-square, .boton {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: #6F9ABF;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-1:hover, .btn-square:hover, .boton:hover {
  background-color: #5b7a96;
}

.img-1 {
  width: 100%;
  height: auto;
}

.icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destino {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.iconPlane {
  width: 30px;
}

.cardsContainer {
  gap: 2rem;
  padding: 30px 30px;
  animation-name: textAlpha;
  animation-duration: 4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceContainer {
  height: 80px;
  border-top: 1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price p {
  font-size: 26px;
  font-weight: 800;
  color: #6F9ABF;
}
.price span {
  font-size: 12px;
  color: gray;
}

.imageContainer3 {
  width: 100%;
  height: 200px;
  background-image: url(../img/dinamarcaBg.jpg);
  background-size: cover;
}

.imageContainer2 {
  width: 100%;
  height: 200px;
  background-image: url(../img/noruegaBg.jpg);
  background-size: cover;
}

.footerContent {
  height: auto;
  background-color: #374c5f;
  color: black;
}

.newsLetter {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  animation-name: textAlpha;
  animation-duration: 4s;
}

#inputFooter {
  padding: 8px 10px;
  background-color: #374c5f;
  border: 1px solid #ccc;
  width: 50%;
  outline: none;
  color: #fff;
}

.btnFooter {
  color: #fff;
  background-color: #6F9ABF;
  outline: none;
  border: none;
  padding: 9px 25px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.btnFooter:hover {
  background-color: #5b7a96;
}

.footerContent hr {
  opacity: 0.3;
}
.footerContent h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
}
.footerContent li {
  list-style: none;
  margin-bottom: 10px;
}

.mainFooter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
  animation-name: textAlpha;
  animation-duration: 4s;
}

i {
  margin-right: 20px;
}

.cover {
  object-fit: cover;
  animation-name: textAlpha;
  animation-duration: 4s;
}

.boton {
  border-color: black;
  border-radius: 1rem;
  text-align: center;
}

.col-md a {
  text-align: center;
}

.imageU {
  border-radius: 6px;
}

.mainButton {
  background-color: #374c5f;
  border: #fff;
  width: 120px;
  height: 35px;
  border-radius: 4px;
  color: #fff;
}
.mainButton:hover {
  background-color: #FEAB83;
  transition: 0.6s;
}

.form-footer input::placeholder {
  color: #fff;
}

.bf-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 20px;
}
.bf-container h1 {
  font-size: 40px;
  color: #fff;
}
.bf-container p {
  color: #fff;
}
.bf-container input,
.bf-container textarea,
.bf-container select {
  width: 100%;
  background-color: #5b7a96;
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Baloo 2", cursive;
  margin-top: 5px;
  resize: none;
  color: #fff;
  border-radius: 10px;
}
.bf-container input::placeholder,
.bf-container textarea::placeholder,
.bf-container select::placeholder {
  color: #fff;
}
.bf-container .bf-body-box {
  padding: 20px;
}
.bf-container .bf-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.bf-container .bf-col-12 {
  width: 100%;
}
.bf-container .bf-col-3 {
  width: 30%;
}
.bf-container .bf-col-6 {
  width: 48%;
}
.bf-container .bf-head {
  text-align: center;
}
.bf-container .bf-head,
.bf-container .bf-footer {
  background-color: #6F9ABF;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bf-container .bf-head p {
  color: #fff;
}
.bf-container .bf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 20px 16px;
  background-color: #1d2228;
}
.bf-container .bf-body {
  width: 500px;
  background-color: #B0C1D9;
}

/*
h1{
    font-size: 40px;
    color: #fff;
}

p{
    color: #fff;
}

input, textarea, select{
    width: 100%;
    background-color: #141824;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    margin-top: 5px;
    resize: none;
    color: #fff;
    border-radius: 10px;
}
.bf-body-box{
    padding: 20px;
}
.bf-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.bf-col-12{
    width: 100%;
}

.bf-col-3{
    width: 30%;
}

.bf-col-6{
    width: 48%;
}

.bf-head{
    text-align: center;
}

.bf-head, .bf-footer{
    background-color: #141824;
    padding: 20px 10px;
}
.bf-head p{
    color: #115035;
}
.bf-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px 16px;
    background-color: #1d2228;
}

.bf-body{
    width: 500px;
    background-color: #1d1d2c;
}

*/
@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes btnAlpha {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
  .newsLetter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-footer {
    margin: 1rem;
  }
  .mainFooter {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainFooter div {
    margin-bottom: 1rem;
  }
  .formContacto,
.formleft__caja {
    width: 100%;
  }
  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }
  .heightImage {
    height: 30vh;
  }
  .mainColumn p {
    text-align: center;
  }
  .botonHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
  }
  .botonHeader .mainButton {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 100px;
  }
  .display-1 {
    text-align: center;
  }
  .us h2,
.col-md h2 {
    text-align: center;
    padding: 10px 0;
  }
  .lead {
    text-decoration: none;
  }
  .lead2 {
    text-align: center;
  }
  .p-5 .containerNosotros .mainSection .aboutUs .text2 {
    text-align: center;
  }
  .p-5 .containerNosotros .mainSection .aboutUs .lead a {
    text-decoration: none;
  }
  footer .leftFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  footer .bottomColFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bf-row {
    flex-direction: column;
    padding: 0;
  }
  .bf-row .bf-col-3 {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .bf-col-12 {
    padding: 10px 0;
    width: 100%;
  }
  .bf-col-6 {
    padding: 10px 0;
  }
  .bf-container {
    padding: 50px 16px;
  }
  .bf-container .bf-col-6 {
    width: 100%;
  }
}

/*# sourceMappingURL=sassGuia.css.map */
